.toast {
  position: fixed;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 300px;
  min-width: 200px;
  font-size: small;
  user-select: none;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.toast .toast_title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toast .toast_title .close svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.toast .toast_title .close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast .toast_msg .icon svg {
  width: 30px;
  height: 30px;
}
.toast_msg {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.toast.success .icon {
  color: green;
}
.toast.error {
  border: 1px solid red;
  color: red;
}
.toast.info {
  border: 1px solid blue;
  color: blue;
}
.toast.warning {
  border: 1px solid yellow;
  color: yellow;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: perspective(6000px) translateY(300px);
  }
  to {
    opacity: 1;
    transform: perspective(0px) translateY(0px) rotateX(0deg);
  }
}

.topLeft {
  top: 2%;
  left: 2%;
}

.topRight {
  top: 2%;
  right: 2%;
}

.bottomLeft {
  bottom: 2%;
  left: 2%;
}

.bottomRight {
  bottom: 2%;
  right: 2%;
}
.topCenter {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.bottomCenter {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.toast.hide {
  opacity: 0;
  transform: perspective(6000px) translateY(-300px);
}
